body {
    background-color: #f4f6fb;
}

/* Sidebar */
.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #1f2a36;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
}
.sidebar a {
    color: white;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
}
.sidebar a:hover {
    background-color: #2e3b49;
}
.sidebar i {
    margin-right: 10px;
}

/* Header */
.header {
    margin-left: 230px;
    background-color: #a20000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    color: white;
}
.header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Content */
.content {
    margin-left: 250px;
    margin-top: 30px;
    padding: 20px;
}

.card-custom {
    border-radius: 10px;
    padding: 18px;
    background: white;
}

.estado {
    font-size: 26px;
    font-weight: bold;
    color: #1b8a3b;
}
